{% extends 'modelo.html' %}
{% load static %}


{% block titulo %}
<title>Página Inicial</title>
{% endblock %}
{% block estilo %}

<link rel="stylesheet" href="{% static "css/calendario.css" %}">

{% endblock %}
{% block corpo %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Painel</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4">
                <div class="card-body">Alunos</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'aluno_list' %}">Ver detalhes</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4">
                <div class="card-body">Turmas</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'turma_list' %}">Ver detalhes</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4">
                <div class="card-body">Educadores</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'educador_list' %}">Ver detalhes</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4">
                <div class="card-body">Aulas</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">Ver detalhes</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Adicionando o calendário -->
    <div class="row">
        <div class="col-xl-6 offset-xl-6 col-md-12">
            <div class="card mb-4 calendario-card">
                <div class="card-body">
                    <div id="container">
                        <div id="header">
                            <h2><div id="monthDisplay"></div></h2>
                            <div>
                                <button id="backButton">Anterior</button>
                                <button id="nextButton">Próximo</button>
                            </div>
                        </div>
    
                        <div id="weekdays">
                            <div>Dom</div>
                            <div>Seg</div>
                            <div>Ter</div>
                            <div>Qua</div>
                            <div>Qui</div>
                            <div>Sex</div>
                            <div>Sáb</div>
                        </div>
    
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

<!-- Modais do calendário -->
<div id="newEventModal">
    <h2>Novo Evento</h2>
    <input id="eventTitleInput" placeholder="Titulo do Evento" />
    <button id="saveButton">Salvar</button>
    <button id="cancelButton">Cancelar</button>
</div>

<div id="deleteEventModal">
    <h2>Evento</h2>
    <div id="eventText"></div><br>
    <button id="deleteButton">Deletar</button>
    <button id="closeButton">Fechar</button>
</div>

<div id="modalBackDrop"></div>

<script src="{% static "js/calendario.js" %}"></script>
{% endblock %}
