{% extends 'modelo.html' %}
{% load static %}

{% block corpo %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">

            <h1>Tem certeza de que deseja excluir o educador {{ educador.nome }}?</h1>
            <form method="post">
                {% csrf_token %}
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button class="btn bg-danger" type="submit">Sim, excluir</button>
                    <a class="btn btn-secondary" href="{% url 'aluno_list' %}">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}