{% extends 'modelo.html' %}
{% load static %}

{% block estilo %}
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}

{% block corpo %}

<div class="container">
    <h3>Lista de Turmas Registradas</h3>
    <a href="{% url 'turma_create' %}" class="btn btn-primary btn-sm">Cadastrar Nova Turma</a>
    
    <hr>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Horário</th>
            </tr>
            
            {% for turma in turmas %}
            <tr>
                <td>{{ turma.nome }}</td>
                <td>{{ turma.horario }}</td>
                <td>
                    <a href="{% url 'turma_update' turma.pk %}" class="btn btn-warning btn-sm" title="Editar">E</a>
                    <a href="{% url 'turma_delete' turma.pk %}" class="btn btn-danger btn-sm" title="Excluir">x</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhuma turma registrada.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
